{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" style="background-color:#00897b;">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <form action="{% url 'new_projects' %}" method="post" enctype="multipart/form-data">
       <p style="color:black;">{% csrf_token %}</p>
        <br>
        <p style="width:50%;color:black" >{{ form }}</p>
        <br><br>
        <input type="submit" class="btn btn-success btn-md" value="Add Project">

      </form>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

{% endblock %}