{% extends 'base.html' %}
{% load materialize %}
{% block content %}

<div class="container-fluid">
        <h2>Search Results</h2>
    <hr>

    {% if searched_projects %}
    <h4>Found {{ searched_projects|length }} projects '{{message}}'</h4>
    {% else %}
    <h4> Found no project '{{message}}'</h4>
    {% endif %}

    {% if searched_projects %}
    <ul class="list-group list-group-flush">
        {% for project in searched_projects %}
        <li class="list-group-item" style="background-color: transparent;">
            <p class="firstletter">{{project.title}}
                <a href="{% url 'project' project.id %}" style="float:right;">
                    <button type="button" class="btn btn-info">View</button>
                </a>
            </p>
        </li>
        {% endfor %}
    </ul>
    {% endif %}



</div>

{% endblock %}