{%extends 'base.html'%}
{% load materialize %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h5>UPLOAD NEW PROJECTS</h5>
            <form action="{% url 'upload_project' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.field }}
                <input type="submit" class="btn btn-outline-success" value="Upload">
            </form>

        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}