{%extends "registration/base.html"%}

{% block content %}
<div class="container">
    <div class="row">
        <!-- Empty div -->
        {% if form.errors %}
        <p> Password or Username is incorrect </p>
        {% endif %}
        <div class="panel panel-default">


            <div class="panel-body">

                <form action="/url/to/submit/" method="post">
                    {% csrf_token %}
                    {{ form.field }}
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
                <input type="submit" class="btn btn-primary btn-sm" value="Login">



                <p> Don't have an account? <a href="/accounts/register">Register here</a>
                </p>


                <input type="hidden" name="next" value="{{next}}">


            </div>
        </div>

    </div>
</div>

{% endblock %}